
$dark: #6610f2;
// $dark: #000000;
$danger: #ff002b;






// import scss
@import 'node_modules/bootstrap/scss/bootstrap';


.badge{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right:0;
  top: 0;
}

.main-news{
  margin-top: 70px;
}

.border-card:hover{
    border: 1px solid $dark;
}


